@import './variables';

nav {
  background: black;
  display: flex;
  align-items: flex-end;
  font-family: $titleFont;
  padding-bottom: 3px;
  border-bottom: 1px solid $lineColor;

  .name-brand {
    color: $textColorDark;
    text-decoration: none;
    display: inline;
    font-family: $brandFont;
    font-size: 20px;
    padding-bottom: 13px;
    margin: auto;
    margin-left: 0;
    margin-bottom: 0;
  }

  .menu {
    display: inline;
    align-self: right;
    margin: auto;
    margin-right: 0;
    margin-bottom: 0;
    a {
      margin: 10px;
      color: $textColor;
      text-decoration: none;
    }
  }
}

.footer {
  display: flex;
  padding: 20px;
  border-top: 1px solid $lineColor;

  div {
    font-size: 14px;
    font-family: $titleFont;
    color: $textColor;
    margin: auto;
  }
}