@import './variables';

nav {
  background: gray;
  display: flex;
  align-items: flex-end;
  font-family: $titleFont;
  padding: 10px;


  .name-brand {
    color: white;
    text-decoration: none;
    display: inline;
    font-weight: 600;
    font-size: 20px;
  }

  a {
    margin: 10px;
    color: white;
    text-decoration: none;
  }

  .menu {
    color: white;
    display: inline;
    margin: auto;
    margin-right: 0;
    margin-bottom: 0;
  }

  .info {
    align-self: right;
  }
}

.footer {
  display: flex;
  padding: 20px;
  border-top: 1px solid $lineColor;

  div {
    font-size: 14px;
    font-family: $titleFont;
    color: $textColor;
    margin: auto;
  }
}