@import url('https://fonts.googleapis.com/css?family=Mansalva|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');



$brandFont: 'Mansalva', cursive;
$titleFont: 'Open Sans', sans-serif;
$textFont: 'Open Sans', sans-serif;
$textColor: #5e5e5e;
$lineColor: #c9c9c9;
$textColorDark: #363636;

// media
$phone: "only screen and (min-width : 480px)";
$tablet: "screen and (min-width : 961px)";
$laptop: "screen and (min-width : 1025px)";
$desktop: "screen and (min-width : 1281px)";

